
<!-- <div class="container-fluid ">
    <div class="row">
        <div class="col">
            <form action="" class="two">
                <h1>Sign in here</h1>
                <div class="Form-Group">
                    <label class="Form-label">EMAIL</label>
                    <input type="email" formControlName="date" placeholder="enter date">
                </div>
                <div class="Form-Group">
                    <label class="Form-label">PASSWORD</label>
                    <input type="password" formControlName="date" placeholder="enter date">
                </div>
                <button>Sign-in</button> <br>
                <a href="">Forget-passwor-?</a> <a href="">sign-up</a>
            </form>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row justify-content-center">
        <div class="card w-50" id="hi">
            <div class="card-body mt-3">
                <div class="container bg-light">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form [formGroup]="loginform">

                                <h3 class="card-title  text-center mt-2">SignIn here</h3>
                                <hr>
                                <div class="Form-Group">
                                    <label class="Form-label">Email</label>
                                    <input type="email" name="email" class="form-control" formControlName="email"
                                        placeholder="enter email"><small class="text-danger" *ngIf="!loginform.get('email')?.valid && loginform.get('email')?.touched">Enter Your Valid Email</small>
                                        
                                </div>
                                <div class="Form-Group">
                                    <label class="Form-label">Password</label>
                                    <input type="password" name="pwd" class="form-control" formControlName="pwd"
                                        placeholder="enter password">
                                        <small class="text-danger" *ngIf="!loginform.get('pwd')?.valid && loginform.get('pwd')?.touched">Enter Your Password</small>
                                </div>
                                <div style="text-align: center;">
                                <button type="submit" class="btn btn-dark form-control mt-2"
                                    (click)="post()">Sign-in</button>
                                </div>
                                <!-- <a class="btn btn-danger" (click)="post()" [routerLink]="['signin']">Sign-in </a> <br> -->
                                <div class="har d-flex justify-content-between ">
                                    <a class="card-link mt-3" href="forget">Forget-password-?</a>
                                    <a class="card-link mt-3" href="register">sign-up</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
