<div class="container bg-light" id="hi">
    <div class="row justify-content-center">
        <div class="col-xs-6 col-md-6 col-xl-3">
            <form [formGroup]="pass">
                <h3 class="card-title text-center mt-3 ">Forget password</h3>
                <hr>
                <div class="Form-Group">
                    <label class="Form-label">Email :</label>
                    <input type="email" class="form-control mb-3" name="emailId" formControlName="emailId"
                        placeholder="enter email">
                </div>
                <div style="text-align: center;">
                    <button type="button" class="btn btn-dark mb-3" (click)="getPassword()">submit</button>
                </div>
            </form>
        </div>
    </div>
</div>